<!-- All subsequent templates will be based off of this one-->
{% block head %}
<link rel = 'stylesheet' href = '{{ url_for("static", filename = "css/main.css") }}'> </link>
{% endblock %}

{% block header %}
<div class = "topnav">
    <a href = "{{ url_for('species_tree') }}"> Species Trees </a>
    <a href = "#"> Search  </a>
</div>
{% endblock %}

{% block content %}
<!-- Will be filled out by subsequent templates -->
{% endblock %}

{% block footer %}
<div class = "footer">
    <p> Footer </p>
</div>
{% endblock %}