{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel = 'stylesheet' href = '{{ url_for("static", filename = "css/treeDisplay.css") }}'> </link>

<script src = '{{ url_for("static", filename = "treeJS/tree.js") }}'> </script>
<script src = '{{ url_for("static", filename = "js/treeData.js") }}'> </script>
<script src = '{{ url_for("static", filename = "js/tree.js") }}' defer> </script>
{% endblock %}

{% block content %}
<div class = 'content'>
    <h1> 
        Visualize Tree for: 
        <select id = 'jsonData'>
            <option value = '' selected> Select a genus </option>
            <option value = 'G'> Glaucocystophyceae </option>
            <option value = 'R'> Rhodophyta </option>
            <option value = 'V'> Viridiplantae </option>
        </select>
    </h1>
    <div class = 'treeDisplay'>

    </div>
</div>
{% endblock %}